%h4.bordered
  %span
    Company Profile
%p
  Alternative Heating & Air is a locally owned and operated business, serving customers in the Atlanta, GA area for over 15 years. Alternative Heating & Air provides professional heating and air equipment, installations and servicing.
%h4.bordered
  %span
    Business Situation
%p
  Alternative Heating & Air did not have an existing Web site. Potential clients were unable to access information about Alternative Heating & Air and the products and services they offer online.
%h4.bordered
  %span
    Solution
%p
  Since Alternative Heating & Air did not have an existing Web site, EON Media Group interviewed numerous employees of the company in order to better understand the company's current business situation, as well as the direction they wished to take going forward. Once EON Media Group gained a better understanding of Alternative Heating & Air's customers, a customized Web site that addressed all of Alternative Heating & Air's online requirements was designed, coded and implemented.
%h4.bordered
  %span
    Benefits
%p
  Alternative Heating & Air's customers can now go to their Web site and get contact information as well as detailed data on the products and services Alternative Heating & Air has to offer. In addition, Alternative Heating & Air's supplier can now advertise and link to their Web site providing even more traffic.
%h4.bordered
  %span
    Results
.results
  .result-item.single#aha-traffic-increase
    .img
      1,400% increase in site traffic within the first 3 weeks after launch
  %br.clear