%h4.bordered
  %span
    Company Profile
%p
  Ridge Church, located in Matthews, North Carolina, exists to lead people into a growing relationship with Jesus Christ. Ridge Church is committed to prioritizing people above the place that they meet and moving ministry from buildings to communities.
%h4.bordered
  %span
    Business Situation
%p
  Ridge Church had an existing Web site, but the look and feel was outdated, the site was not user friendly, and it was not capable of handling their media or social networking requirements.
%h4.bordered
  %span
    Solution
%p
  EON Media Group completely rebuilt the Ridge Church Web site with user friendliness and media and social networking integration as key priorities.  EON Media Group designed the new site to promote Ridge Church's inviting culture by making it very easy for visitors to share sermons and announcements via email, Twitter and Facebook. In addition, video capability was added to the site.
%blockquote
  "EON Media Group seemed to understand both "who we were" as an organization and therefore "what we needed" our Web site to do. They did a good job of understanding the culture of our organization."
  %small.author
    Chris Brown, Lead Pastor, Ridge Church
%h4.bordered
  %span
    Benefits
%blockquote
  "It gave us confidence to drive people to our Web site with our marketing. It made our Web site a legitimate next step for people to get a feel for our organization. For the first time in a long time we feel like the Web site reflects the experience people will actually have when they attend our church."
  %small.author
    Chris Brown, Lead Pastor, Ridge Church
%h4.bordered
  %span
    Results
.results
  .result-item.single#rc-traffic-increase
    .img
      28,283% Increase in site traffic within the first month after launch
  %br.clear
