%h4.bordered
  %span
    Company Profile
%p
  Royal Class Auto, located in Matthews, North Carolina, is an auto dealership that believes in simple, affordable cars.
%h4.bordered
  %span
    Business Situation
%p
  Royal Class Auto did not have an existing Web site. Potential clients were unable to access information about Royal Class Auto and their inventory online.
%h4.bordered
  %span
    Solution
%p
  Since Royal Class Auto did not have an existing Web site, EON Media Group designed, coded and implemented a very user friendly Web site from scratch. The site was built to focus on the primary business requirement of providing a platform for potential customers to quickly and easily access Royal Class Auto's complete inventory of cars online.
%h4.bordered
  %span
    Benefits
%p
  Royal Class Auto's customers can now go to their Web site and view their complete inventory. Web site traffic has increased significantly since launch, resulting in more visitors to the car lot and an increase in sales.
%h4.bordered
  %span
    Results
.results
  .result-item#rca-traffic-increase
    .img
      523% Increase in site traffic in the first month
  .result-item#rca-vehicles-sold-first-week
    .img
      3 Vehicles sold the first week
  .result-item.single#rca-vehicles-sold-first-two-months
    .img
      14 Vehicles sold the first two months
  %br.clear