%section#privacy-section
  %hr.spacer
  #privacy-content
    %h3
      Privacy Policy
    %p
      This privacy policy sets out how EON Media Group uses and protects any information that you give EON Media Group when you use this website. EON Media Group is committed to ensuring that your privacy is protected. Should we ask you to provide certain information by which you can be identified when using this website, then you can be assured that it will only be used in accordance with this privacy statement. EON Media Group may change this policy from time to time by updating this page. You should check this page regularly to ensure that you are happy with any changes. This policy is effective from 18th of January, 2010.
    %p
      This privacy policy applies only to information collected through our website and not to any information collected offline.
    %p
      By accessing or using our site and soliciting our services, you consent to our web site privacy policy and accept that you have read, understood, and agreed to abide by the terms of service. If you do not agree to these terms of service, please do not fill out the contact form or register with us.
    %p
      You recognize and understand that there is no obligation on you to provide EON Media Group with your personal information. Also information provided by you is with your full consent and own decision. You understand that we are under no obligation to verify the accuracy of information source whomever it concerns and we assume that is provided by you with your full consensus unless notified by you regarding fallacy of particular information. You also agree to provide correct information to avoid fraudulent activity.
    %h3
      What we collect
    %p
      We may collect the following information:
    %ul
      %li
        name and job title
      %li 
        contact information including email address
      %li
        demographic information such as postcode, preferences and interests
      %li
        other information relevant to customer surveys and/or offers
    %h3
      What we do with the information we gather
    %p
      We require this information to understand your needs and provide you with better service, and in particular for the following reasons:
    %ul
      %li
        Internal record keeping.
      %li
        We may use the information to improve our products and services.
      %li
        We may periodically send promotional emails about new products, special offers or other information which we think you may find interesting using the email address which you have provided.
      %li
        From time to time, we may also use your information to contact you for market research purposes. We may contact you by email, phone, fax or mail. We may use the information to customize the website according to your interests. 
    %h3
      Security
    %p
      We are committed to ensuring that your information is secure. In order to prevent unauthorized access or disclosure we have put in place suitable physical, electronic and managerial procedures to safeguard and secure the information we collect online.
    %h3
      Links to other websites
    %p
      Our website may contain links to other websites of interest. However, once you have used these links to leave our site, you should note that we do not have any control over that other website. Therefore, we cannot be responsible for the protection and privacy of any information which you provide whilst visiting such sites and such sites are not governed by this privacy statement. You should exercise caution and look at the privacy statement applicable to the website in question.
    %h3
      Controlling your personal information
    %p
      You may choose to restrict the collection or use of your personal information in the following ways:
    %ul
      %li
        whenever you are asked to fill in a form on the website, look for the box that you can click to indicate that you do not want the information to be used by anybody for direct marketing purposes
      %li
        if you have previously agreed to us using your personal information for direct marketing purposes, you may change your mind at any time by writing to us.
    %p
      We do not sell, trade, or otherwise transfer to outside parties your personally identifiable information. This does not include trusted third parties who assist us in operating our website, conducting our business, or servicing you, so long as those parties agree to keep this information confidential. We may also release your information when we believe release is appropriate to comply with the law, enforce our site policies, or protect others or our rights, property, or safety.
    %h3
      Changes to our Privacy Policy
    %p
      If there have any questions or suggestions regarding our privacy policy, you may contact us through our website or write to us using the information below.
  %hr.spacer