
.nosvg #article .spacer {
  background-image: url(images/png/separating-line.png);
}

.nosvg #article section .success-nav-control a.current {
  background-image: url(images/png/up-button-n.png);
}

.nosvg #article section .success-nav-control a.current:hover {
  background-image: url(images/png/up-button-h.png);
}

.nosvg #article section .success-nav-control a.next {
  background-image: url(images/png/down-button-n.png);
}

.nosvg #article section .success-nav-control a.next:hover {
  background-image: url(images/png/down-button-h.png);
}

.nosvg #logo {
  background-image: url(images/png/emg-logo-n.png);
}

.nosvg #logo:hover {
  background-image: url(images/png/emg-logo-h.png);
}

.nosvg #nav ul li a#nav-services {
  background-image: url(images/png/emg-services-n.png);
}
.nosvg #nav ul li a#nav-success {
  background-image: url(images/png/emg-success-n.png);
}
.nosvg #nav ul li a#nav-contact {
  background-image: url(images/png/emg-contact-n.png);
}

.nosvg #nav ul li a#nav-services:hover{
  background-image: url(images/png/emg-services-h.png);
}
.nosvg #nav ul li a#nav-success:hover{
  background-image: url(images/png/emg-success-h.png);
}
.nosvg #nav ul li a#nav-contact:hover{
  background-image: url(images/png/emg-contact-h.png);
}

.nosvg #nav ul li a#nav-services.here {
  background-image: url(images/png/emg-services-a.png);
}
.nosvg #nav ul li a#nav-success.here {
  background-image: url(images/png/emg-success-a.png);
}
.nosvg #nav ul li a#nav-contact.here {
  background-image: url(images/png/emg-contact-a.png);
}

.nosvg #aside a#contact {
  background-image: url(images/png/contact-us-n.png);
}

.nosvg #aside a#contact:hover {
  background-image: url(images/png/contact-us-h.png);
}

.nosvg #aside a#top-link {
  background-image: url(images/png/top-button-n.png);
}

.nosvg #aside a#top-link:hover {
  background-image: url(images/png/top-button-h.png);
}

#home.nosvg #article #home-bottom #find-out-more-text {
  background-image: url(images/png/read-more.png);
}

#home.nosvg #article #home-bottom #find-out-more-text.clicked {
  background-image: none;
}

#home.nosvg #article #home-bottom #find-out-more-link {
  background-image: url(images/png/plus-button-n.png);
}

#home.nosvg #article #home-bottom #find-out-more-link:hover {
  background-image: url(images/png/plus-button-h.png);
}

#home.nosvg #article #home-bottom #find-out-more-link.clicked {
  background-image: url(images/png/x-button-n.png);
}

#home.nosvg #article #home-bottom #find-out-more-link.clicked:hover {
  background-image: url(images/png/x-button-h.png);
}

#home.nosvg #aside h3 {
  background-image: url(images/png/-success-.png);
}

#success.nosvg #article section #aha-traffic-increase .img {
  background-image: url(/case-studies/png/results-aha-1400.png);
}

#success.nosvg #article section #rc-traffic-increase .img {
  background-image: url(/case-studies/png/results-rc-28.283.png);
}

#success.nosvg #article section #rca-traffic-increase .img {
  background-image: url(/case-studies/png/results-rca-14.png);
}

#success.nosvg #article section #rca-vehicles-sold-first-week .img {
  background-image: url(/case-studies/png/results-rca-3.png);
}

#success.nosvg #article section #rca-vehicles-sold-first-two-months .img {
  background-image: url(/case-studies/png/results-rca-523.png);
}

.nosvg #contact-form .ui-resizable-s {
  background-image: url(images/png/contact-form-message-se.png);
}

.nosvg #contact-form #contact-submit {
  background-image: url(images/png/send-your-message-n.png);
}

.nosvg #contact-form #contact-submit:hover {
  background-image: url(images/png/send-your-message-h.png);
}