h1 {
  font-size: 126%;
  line-height: 126%;
}

h2 {
  font-size: 75%;
}

#nav {
  width: 556px;
}

#nav ul li {
  margin: 10px 0 0 24px;
  float: left;
}

#nav ul li a {
  height: 46px;
  width: 150px;
}

#services h2 span {
  transition: padding-left .5s ease-out, padding-right .5s ease-out;
  -webkit-transition: padding-left .5s ease-out, padding-right .5s ease-out;
  -moz-transition: padding-left .5s ease-out, padding-right .5s ease-out;
  -ms-transition: padding-left .5s ease-out, padding-right .5s ease-out;
  -o-transition: padding-left .5s ease-out, padding-right .5s ease-out;
}

#services #article #services-section .services-section-item {
  float: left;
  margin: 0 24px 16px 0;
}

#success #article section .results .result-item {
  float: left;
  width: 50%;
  margin: auto;
  clear: none;
}

#success #article section .results .result-item.single {
  float: none;
  clear: both;
}

#contact h2,
#contact #article {
  max-width: 645px;
  padding: 0 62px;
  margin: auto;
}

#contact #article section {
  padding: 0;
}

#contact #article #contact-content h3 {
 font-size: 30px;
 text-align: left;
}

#contact-form {
  max-width: 100%;
}

#contact h2,
#contact h2 span {
  font-size: 35px;
}

#contact #article #contact-content h3 {
  margin: 60px 0;
}

#contact-content-container .action,
#contact-form-container .contact-form-item {
  float: left;
}

#contact-form-container .contact-form-item {
  width: 310px;
}

#contact-form-container .contact-form-item.first {
  margin-right: 24px;
}

#contact-form label.submit {
  width: 288px;
}