%section#home-content
  #home-content-container
    #home-content-text
      %p
        Our world is full of complex systems interacting with each other at the speed of light. Customers are no longer tied to their desktop computers, so your business needs to be able to meet their demands not only on the Web, but in the Mobile and Social Networking arenas as well.
      %p
        At EON Media Group, we take a holistic approach to development where each piece of our custom solutions is optimized as an individual part, as well as within the system as a whole. As a result, our end product consists of scalable, reusable pieces which interact with each other in the most efficient manner possible.
      %p.standout
        The solution we provide you will grow with your business, not inhibit it.
%section#home-bottom
  #home-bottom-container
    #find-out-more-text
      %a#find-out-more-link{:href=>"#find-out-more", :title=>"find out more", :class=>"hide-text"}
        Find out more