%section#approach-section
  %hr.spacer
  #approach-section-container
    .approach-section-item
      %h3.odd
        Our Process is Simple
      %p
        Simplify the development process by analyzing your online business to understand the needs of your users and your business.
    .approach-section-item
      %h3.even
        Our Approach is Effective
      %p
        Plan, design and code an efficient custom solution that leverages the latest Internet and profiling technologies.
    .approach-section-item.last
      %h3.odd
        The Results are Powerful
      %p
        Track your visitors and analyze the statistics to optimize the customer experience.
    %br.clear
%section#services-section
  %hr.spacer
  %h3.even
    EON Media Group can help your business excel in the Web, Social Networking and Mobile arenas with our expertise in a variety of services:
  #services-section-container
    .services-section-item
      %h4.bordered
        %span
          Web
      %ul
        %li
          Strategic analysis and planning
        %li
          User experience (UX) research
        %li
          Information Architecture (IA)
        %li
          Design
        %li
          Development
        %li
          Search Engine Optimization (SEO)
        %li
          Custom landing pages
        %li
          Lead generation systems
        %li
          Accessibility
        %li
          Online business automation
    .services-section-item
      %h4.bordered
        %span
          Social Networking
      %ul
        %li
          Integration
        %li
          Leveraging opportunities
        %li
          Brand management
        %li
          Custom reporting
    .services-section-item.last
      %h4.bordered
        %span
          Mobile
      %ul
        %li
          Conversion
        %li
          Compatibility
        %li
          Responsive design
        %li
          Integration
    %br.clear
      
      